.App {
  text-align: center;
  /* font-family: 'Roborto'; */
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */


.header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title{
  background-color: blue;
  height: 100%;
  width: 25rem;
  display:flex;
  align-items:flex-end;
  justify-content: center;
  font-size: 2rem;
}

.header-title p{
  margin: 1rem;
}

.body{
  background-color: pink;
  height:100vh;
}
.intro{
  background-color: green;
  height: 50rem;
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
