.App {
  text-align: center;
  /* font-family: 'Roborto'; */
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */


.header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title{
  background-color: blue;
  height: 100%;
  width: 25rem;
  display:flex;
  align-items:flex-end;
  justify-content: center;
  font-size: 2rem;
}

.header-title p{
  margin: 1rem;
}

/* .body{
  height:100vh;
} */
.intro{
  background-color: green;
  height: 45rem;
  display: flex;
  align-items: center;
}

.body h2{
  margin:3rem;
}

.projects{
  /* background-color: pink; */
  margin-left:10%;
  margin-right:10%;
  margin-bottom:5rem;
  display:grid;
  justify-items: center;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:3rem;
}

.footer{
  background-color: lightgrey;
  height: 3rem;
  text-align: right;
}


.App-link {
  color: #61dafb;
}
